## Observations and Insights

## Dependencies and starter code

In [1]:
%matplotlib inline

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

# Combine the data into a single dataset
combined_results_data = pd.merge(mouse_metadata, study_results, on="Mouse ID")

##rename columns for ease of use
combined_results_data = combined_results_data.rename(columns={"Drug Regimen":"Drug",
                                                              "Age_months":"Age (months)",
                                                              "Tumor Volume (mm3)":"Tumor Volume",})
combined_results_data.head()

,Mouse ID,Drug,Sex,Age (months),Weight (g),Timepoint,Tumor Volume,Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

## Summary statistics

In [3]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of 
#the tumor volume for each regimen

# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
meanTumorVol = combined_results_data.groupby(["Drug","Timepoint"], as_index=False)["Tumor Volume"].mean()

# Convert to DataFrame
meanTumorVol_df = pd.DataFrame(data = meanTumorVol)
meanTumorVol_df = meanTumorVol_df.rename(columns={"Tumor Volume": "Mean Tumor Volume"})

# Preview DataFrame
meanTumorVol_df

         Drug  Timepoint  Mean Tumor Volume
0   Capomulin          0          45.000000
1   Capomulin          5          44.266086
2   Capomulin         10          43.084291
3   Capomulin         15          42.064317
4   Capomulin         20          40.716325
..        ...        ...                ...
95  Zoniferol         25          55.432935
96  Zoniferol         30          57.713531
97  Zoniferol         35          60.089372
98  Zoniferol         40          62.916692
99  Zoniferol         45          65.960888

[100 rows x 3 columns]

In [6]:
# Store the median Tumor Volume Data Grouped by Drug and Timepoint 
medianTumorVol = combined_results_data.groupby(["Drug","Timepoint"], as_index=False)["Tumor Volume"].median()

# Convert to DataFrame
medianTumorVol_df = pd.DataFrame(data = medianTumorVol)
medianTumorVol_df = medianTumorVol_df.rename(columns={"Tumor Volume": "Median Tumor Volume"})

# Preview DataFrame
medianTumorVol_df

         Drug  Timepoint  Median Tumor Volume
0   Capomulin          0            45.000000
1   Capomulin          5            45.597064
2   Capomulin         10            43.421014
3   Capomulin         15            42.798160
4   Capomulin         20            40.716428
..        ...        ...                  ...
95  Zoniferol         25            55.676604
96  Zoniferol         30            57.419744
97  Zoniferol         35            60.365832
98  Zoniferol         40            62.274543
99  Zoniferol         45            65.684689

[100 rows x 3 columns]

In [4]:
# Store the variance Tumor Volume Data Grouped by Drug and Timepoint 
variTumorVol = combined_results_data.groupby(["Drug","Timepoint"], as_index=False)["Tumor Volume"].mean()

# Convert to DataFrame
variTumorVol_df = pd.DataFrame(data = variTumorVol)
variTumorVol_df = variTumorVol_df.rename(columns={"Tumor Volume": "variance Tumor Volume"})

# Preview DataFrame
variTumorVol_df

         Drug  Timepoint  variance Tumor Volume
0   Capomulin          0              45.000000
1   Capomulin          5              44.266086
2   Capomulin         10              43.084291
3   Capomulin         15              42.064317
4   Capomulin         20              40.716325
..        ...        ...                    ...
95  Zoniferol         25              55.432935
96  Zoniferol         30              57.713531
97  Zoniferol         35              60.089372
98  Zoniferol         40              62.916692
99  Zoniferol         45              65.960888

[100 rows x 3 columns]

In [5]:
# Store the SEM Tumor Volume Data Grouped by Drug and Timepoint 
semTumorVol = combined_results_data.groupby(["Drug","Timepoint"])["Tumor Volume"].sem().reset_index()

# Convert to DataFrame
semTumorVol_df = pd.DataFrame(data = semTumorVol)
semTumorVol_df = semTumorVol_df.rename(columns={"Tumor Volume": "SEM for Tumor Volume"})

# Preview DataFrame
semTumorVol_df

         Drug  Timepoint  SEM for Tumor Volume
0   Capomulin          0              0.000000
1   Capomulin          5              0.448593
2   Capomulin         10              0.702684
3   Capomulin         15              0.838617
4   Capomulin         20              0.909731
..        ...        ...                   ...
95  Zoniferol         25              0.602513
96  Zoniferol         30              0.800043
97  Zoniferol         35              0.881426
98  Zoniferol         40              0.998515
99  Zoniferol         45              1.003576

[100 rows x 3 columns]

## Bar plots

In [7]:
# Generate a bar plot showing number of data points for each treatment regimen using pandas (#see 02 from lesson 2)
# Filter the DataFrame down only to those columns to chart
drug_and_volume = combined_results_data[["Timepoint", "Drug", "Tumor Volume"]]

# Set the index to be "Drug" so they will be used as labels
drug_and_volume = drug_and_volume.set_index("Drug")
drug_and_volume.head()

          Timepoint  Tumor Volume
Drug
Ramicane          0     45.000000
Ramicane          5     38.825898
Ramicane         10     35.014271
Ramicane         15     34.223992
Ramicane         20     32.997729

In [8]:
# Use DataFrame.plot() in order to create a bar chart of the data
drug_and_volume.plot(x="Timepoint", y=["Drug", "Tumor Volume"], kind="bar", figsize=(20,3))

# Set a title for the chart
plt.title("Tumor Volume by Drug Regimen")

plt.show()
plt.tight_layout()

KeyError: "['Drug'] not in index"

In [ ]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

## Pie plots

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, outliers and boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and scatter plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [ ]:
# Calculate the correlation coefficient and linear regression model for mouse weight and average tumor volume for the Capomulin regimen